@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Righteous&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.jumbotron {
    background: #d7a7aa;
    color: floralwhite;
    margin: 0 auto;
    padding: 100px 0;
}

.padding {}

.navbar-brand {
    font-family: 'Righteous', cursive;
}

.main {
    min-height: 800px;
    position: relative;
}

.footer {
    background: #d7a7aa;
    margin: 0 auto;
    padding: 20px 0;
}

.row-profile {
    padding-top: 110px;
}

.row-header {
    padding-top: 50px;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 250px;
}

.profile {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 540px) {
    .padding {
        padding: 70px 0;
    }

    .row-header {
        padding-top: 30px;
    }
}