$breadcrumb-divider-color: gray;
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Righteous&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$background-color: #00c9c8;
$color-shade: #e6f4f1;
$code-color: #FCFCD4;

@mixin zero-margin($up-dn, $left-right) {
    margin: 0 auto;
    padding: $up-dn $left-right;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.jumbotron {
    background: $background-color;
    color: white;
    @include zero-margin(100px, 0);
}

.padding {
}

.navbar-brand {
    font-family: "Righteous", cursive;
}

.main {
    min-height: 800px;
    position: relative;
}

.footer {
    background: $background-color;
    @include zero-margin(20px, 0);
}

.row-profile {
    padding-top: 110px;
}

.row-header {
    padding-top: 50px;
}

.row-content {
    @include zero-margin(50px, 0);
    border-bottom: 1px ridge;
    min-height: 250px;
}

.profile {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%, 0);
}

// utterances customize
.utterances {
    max-width: 100% !important;
}

// pagination
.pagination {
    li {
        a {
            background-color: white;
            color: $background-color;
        }
    }
}

.pagination {
    .active {
        a {
            color: white;
            background-color: $background-color !important;
            border: solid 1px $background-color !important;
        }
    }
}

.pagination {
    li {
        a:focus,
        a:hover {
            color: $background-color;
        }
    }
}

.pagination {
    .active {
        a:hover {
            color: white;
        }
    }
}

// posts
code {
    background-color: $code-color;
    display: inline-block;
    padding: 10px;
    border-radius: 5%;
}

.row-content {
    li {
        margin-left: 20px;
        font-size: 1.1em;
    }

    h2 {
        margin-top: 20px;
    }

    h2:first-child {
        margin-top: 0;
    }

    p {
        font-size: 1.1em;
    }

    a {
        word-wrap: break-word; //띄어쓰기가 없는 긴 단어를 어떻게 처리할지 정합니다.
    }
}
.homepage-posts {
    transition: box-shadow 0.4s ease-in-out;
}
.homepage-posts:hover {
    box-shadow: inset 0 -40em 0 0 $color-shade;
}

.accordion-body {
    a {
        text-decoration: none;
    }
}

@media (max-width: 540px) {
    .padding {
        padding: 70px 0;
    }

    .row-header {
        padding-top: 30px;
    }
}
